<!doctype html>
<html class="no-js" lang="en"  xmlns:th="http://www.thymeleaf.org">
<head xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> Medicis | Book</title>
<body class="pace-on pace-counter">
<div th:fragment="header">
<div class="pace-overlay"></div>
<div class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky text-none" id="masthead">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" th:href="@{/}"> <img alt="MEDICAL" th:src="@{/images/medical/lambda-medical.png}"> MEDICAL </a>
            <div class="logo-sidebar"></div>
        </div>
        <div class="nav-container">
            <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
                <div class="menu-container">
                    <ul class="nav navbar-nav" id="menu-home">
                        <li id="home" class="active "> <a th:href="@{/}">Home</a> </li>
                        <li id="hospitals"  class=" "> <a th:href="@{/hospitals}">Hospitals</a> </li>
                        <li id="contact" class=" "> <a th:href="@{/contact}">Contact</a> </li>
                        <li id="login_register" th:if="${authUser == null}" class=" "> <a th:href="@{/login-register}"><i class="fa fa-user"></i></a> </li>
                        <th:block th:if="${authUser != null}">
                        <li id="profile_section" class="dropdown">
                            <a class="dropdown-toggle"  data-toggle="dropdown" href="#">Profile Section <span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <th:block th:if="${isHospitalLogged == true}">
                                    <li><a th:href="@{/hospital-profile}">Edit hospital's profile</a></li>
                                    <li><a th:href="@{/hospital-appointments}">Overview appointments</a></li>
                                </th:block>
                                <th:block th:if="${isHospitalLogged == false}">
                                    <li><a th:href="@{/user-profile}">Edit your profile</a></li>
                                    <li><a th:href="@{/user-appointments}">Overview appointments</a></li>
                                </th:block>
                            </ul>
                        </li>
                        <li class=" "> <a onclick="logout()"><i class="fa fa-sign-out"></i></a> </li>
                        <form th:id="logoutForm" th:action="@{/logout}" method="POST">
                        </form>
                        <script>
                            function logout() {
                                document.getElementById("logoutForm").submit();
                            }
                        </script>
                        </th:block>
                    </ul>
                </div>
                <div class="menu-sidebar">
                    <div class="sidebar-widget widget_search">
                        <div class="top-search">
                            <form action="#" id="searchform" method="get" name="sfa fa-google-plusearchform">
                                <div class="input-group">
                                    <input class="form-control" id="s" name="s" placeholder="Search hospitals or doctors" type="text" value=""><span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" id="searchsubmit" value="Search"><i class="fa fa-search"></i></button>
                                    </span> </div>
                            </form>
                            <a class="search-trigger"></a><b class="search-close"></b> </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<a class="go-top go-top-circle" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
    <script>
        var url = window.location.href;
        console.log(url)
        var previous;
        var hospitals = url.indexOf("hospital");
        var contact = url.indexOf("/contact");
        var login_register = url.indexOf("login-register");

        if( hospitals !== -1 ){
            previous=document.getElementsByClassName('active');
            previous[0].classList.remove('active');
            document.getElementById('hospitals').classList.add('active');
        }
        if( contact !== -1 ){
            previous=document.getElementsByClassName('active');
            previous[0].classList.remove('active');
            document.getElementById('contact').classList.add('active');
        }
        if  (login_register !== -1 ){
            previous=document.getElementsByClassName('active');
            previous[0].classList.remove('active');
            document.getElementById('login_register').classList.add('active');
        }
        if (url.indexOf("/user-profile") !== -1 || url.indexOf("appointments") !== -1 || url.indexOf("hospital-profile") !== -1){
            console.log("eo me2");
            previous=document.getElementsByClassName('active');
            previous[0].classList.remove('active');
            document.getElementById('profile_section').classList.add('active');
        }



    </script>
</div>
</body>
</html>