<!doctype html>
<html class="no-js" lang="en"  xmlns:th="http://www.thymeleaf.org">
<head xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> Medicis | Book</title>
<body class="pace-on pace-counter">
<div th:fragment="header">
<div class="pace-overlay"></div>
<div class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky text-none" id="masthead">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" th:href="@{/}"> <img alt="MEDICAL" th:src="@{/images/medical/lambda-medical.png}"> MEDICAL </a>
            <div class="logo-sidebar"></div>
        </div>
        <div class="nav-container">
            <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
                <div class="menu-container">
                    <ul class="nav navbar-nav" id="menu-home">
                        <li class="active "> <a th:href="@{/}">Home</a> </li>
                        <li class=" "> <a th:href="@{/hospitals}">Hospitals</a> </li>
                        <li class=" "> <a th:href="@{/about}">About Us</a> </li>
                        <li class=" "> <a th:href="@{/contact}">Contact</a> </li>
                        <li class="dropdown-toggle"  data-toggle="dropdown">
                            <a href="#">Contact</a> <span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </li>
                        <li th:if="${authUser == null}" class=" "> <a th:href="@{/login-register}"><i class="fa fa-user"></i></a> </li>
                        <li th:if="${authUser != null}" class=" "> <a onclick="logout()"><i class="fa fa-sign-out"></i></a> </li>
                        <form th:id="logoutForm" th:action="@{/logout}" method="POST">
                        </form>
                        <script>
                            function logout() {
                                document.getElementById("logoutForm").submit();
                            }
                        </script>
                    </ul>
                </div>
                <div class="menu-sidebar">
                    <div class="sidebar-widget widget_search">
                        <div class="top-search">
                            <form action="#" id="searchform" method="get" name="sfa fa-google-plusearchform">
                                <div class="input-group">
                                    <input class="form-control" id="s" name="s" placeholder="Search hospitals or doctors" type="text" value=""><span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" id="searchsubmit" value="Search"><i class="fa fa-search"></i></button>
                                    </span> </div>
                            </form>
                            <a class="search-trigger"></a><b class="search-close"></b> </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<a class="go-top go-top-circle" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
</div>
</body>
</html>