<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="support">
        <!-- ClickDesk Live Chat Service for websites -->
        <script type='text/javascript'>
            var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyEgsSBXVzZXJzGICA4PzDhP8LDA');
            var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
                'http://my.clickdesk.com/clickdesk-ui/browser/');
            var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
            var glcspt = document.createElement('script'); glcspt.type = 'text/javascript';
            glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
            var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
        </script>
        <!-- End of ClickDesk -->
    </div>
</body>
</html>